## Loading data into Pandas DataFrame

In [4]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
#print(df.head(3))
#print(df.tail(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False
       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

## Reading Data in Pandas

In [19]:
# Read Headers
# print(df.columns)

# Read each column
# print(df['Name'])                         # Getting all the names
# print(df['Name'][0:5])                    # Getting names from 0 through 5
# print(df.Name)                            # It can also be done this way
# print(df[['Name', 'Type 1', 'HP']])       # Getting multiple columns at once

# Read each row
# print(df.iloc[1])                         # use iloc to locate by integer, this prints every data in theh row
# print(df.iloc[0:4])
#for index, row in df.iterrows():           # Going through every row and column
#    print(index,row)                

#for index, row in df.iterrows():           # Going through every row and column
#    print(index,row['Name'])               # Specifically getting the name column

print(df.loc[df['Type 1'] == 'Fire'] )      # Getting rows by a specific condition, its not based on integer or specific row.

# print(df.loc[df['Type 1'] == 'Grass'] ) 

# Read a specific location (R,C)
print(df.iloc[2,1])                       # Getting data from row 2, column 1

       #                   Name Type 1    Type 2   HP  Attack  Defense  \
0      1              Bulbasaur  Grass    Poison   45      49       49
1      2                Ivysaur  Grass    Poison   60      62       63
2      3               Venusaur  Grass    Poison   80      82       83
3      3  VenusaurMega Venusaur  Grass    Poison   80     100      123
48    43                 Oddish  Grass    Poison   45      50       55
..   ...                    ...    ...       ...  ...     ...      ...
718  650                Chespin  Grass       NaN   56      61       65
719  651              Quilladin  Grass       NaN   61      78       95
720  652             Chesnaught  Grass  Fighting   88     107      122
740  672                 Skiddo  Grass       NaN   66      65       48
741  673                 Gogoat  Grass       NaN  123     100       62

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
48        75       65     30           1      False
..       ...      ...    ...         ...        ...
718       48       45     38           6      False
719       56       58     57           6      False
720       74       75     64           6      False
740       62       57     52           6      False
741       97       81     68           6      False

[70 rows x 12 columns]
Venusaur

## Sorting/Describing data

In [21]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [22]:
print(df.sort_values('Name'))       # use sort_values funciton to sort them by the column chosen

       #                     Name   Type 1  Type 2   HP  Attack  Defense  \
510  460                Abomasnow    Grass     Ice   90      92       75
511  460  AbomasnowMega Abomasnow    Grass     Ice   90     132      105
68    63                     Abra  Psychic     NaN   25      20       15
392  359                    Absol     Dark     NaN   65     130       60
393  359          AbsolMega Absol     Dark     NaN   65     150       60
..   ...                      ...      ...     ...  ...     ...      ...
632  571                  Zoroark     Dark     NaN   60     105       60
631  570                    Zorua     Dark     NaN   40      65       40
46    41                    Zubat   Poison  Flying   40      45       35
695  634                 Zweilous     Dark  Dragon   72      85       70
794  718         Zygarde50% Forme   Dragon  Ground  108     100      121

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
510       92       85     60           4      False
511      132      105     30           4      False
68       105       55     90           1      False
392       75       60     75           3      False
393      115       60    115           3      False
..       ...      ...    ...         ...        ...
632      120       60    105           5      False
631       80       40     65           5      False
46        30       40     55           1      False
695       65       70     58           5      False
794       81       95     95           6       True

[800 rows x 12 columns]

In [23]:
print(df.sort_values('Name', ascending=False))      # Sort values in descending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [26]:
print(df.sort_values(['Type 1', 'HP']))             # Sorting by two or more columns at the same time

       #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
316  292   Shedinja    Bug   Ghost    1      90       45       30       30
230  213    Shuckle    Bug    Rock   20      10      230       10      230
462  415     Combee    Bug  Flying   30      30       42       30       42
603  543   Venipede    Bug  Poison   30      45       59       30       39
314  290    Nincada    Bug  Ground   31      45       90       30       30
..   ...        ...    ...     ...  ...     ...      ...      ...      ...
142  131     Lapras  Water     Ice  130      85       80       85       95
145  134   Vaporeon  Water     NaN  130      65       60      110       95
350  320    Wailmer  Water     NaN  130      70       35       70       35
655  594  Alomomola  Water     NaN  165      75       80       40       45
351  321    Wailord  Water     NaN  170      90       45       90       45

     Speed  Generation  Legendary
316     40           3      False
230      5           2      False
462     70           4      False
603     57           5      False
314     40           3      False
..     ...         ...        ...
142     60           1      False
145     65           1      False
350     60           3      False
655     65           5      False
351     60           3      False

[800 rows x 12 columns]

In [27]:
print(df.sort_values(['Type 1', 'HP'], ascending= False))       # Both columns will be in descending order

       #       Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
351  321    Wailord  Water     NaN  170      90       45       90       45
655  594  Alomomola  Water     NaN  165      75       80       40       45
142  131     Lapras  Water     Ice  130      85       80       85       95
145  134   Vaporeon  Water     NaN  130      65       60      110       95
350  320    Wailmer  Water     NaN  130      70       35       70       35
..   ...        ...    ...     ...  ...     ...      ...      ...      ...
314  290    Nincada    Bug  Ground   31      45       90       30       30
462  415     Combee    Bug  Flying   30      30       42       30       42
603  543   Venipede    Bug  Poison   30      45       59       30       39
230  213    Shuckle    Bug    Rock   20      10      230       10      230
316  292   Shedinja    Bug   Ghost    1      90       45       30       30

     Speed  Generation  Legendary
351     60           3      False
655     65           5      False
142     60           1      False
145     65           1      False
350     60           3      False
..     ...         ...        ...
314     40           3      False
462     70           4      False
603     57           5      False
230      5           2      False
316     40           3      False

[800 rows x 12 columns]

In [29]:
print(df.sort_values(['Type 1', 'HP'], ascending=[True, False]))        # But we can specify which column will be ascending and which will be descinding

       #                     Name Type 1    Type 2  HP  Attack  Defense  \
520  469                  Yanmega    Bug    Flying  86      76       86
698  637                Volcarona    Bug      Fire  85      60       65
231  214                Heracross    Bug  Fighting  80     125       75
232  214  HeracrossMega Heracross    Bug  Fighting  80     185      115
678  617                 Accelgor    Bug       NaN  80      70       40
..   ...                      ...    ...       ...  ..     ...      ...
106   98                   Krabby  Water       NaN  30     105       90
125  116                   Horsea  Water       NaN  30      40       70
129  120                   Staryu  Water       NaN  30      45       55
139  129                 Magikarp  Water       NaN  20      10       55
381  349                   Feebas  Water       NaN  20      15       20

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
520      116       56     95           4      False
698      135      105    100           5      False
231       40       95     85           2      False
232       40      105     75           2      False
678      100       60    145           5      False
..       ...      ...    ...         ...        ...
106       25       25     50           1      False
125       70       25     60           1      False
129       70       55     85           1      False
139       15       20     80           1      False
381       10       55     80           3      False

[800 rows x 12 columns]

## Making changes to the data

In [33]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']     # Creating a new column by adding every category
df = df.drop(columns = ['Total'])                                                                       # Dropping a column
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [35]:
df['Total'] = df.iloc[:, 4:10].sum(axis = 1)           # Another way to add a new column, in iloc we say we need every row and specify which columns will be added, axis = 1 for horizontal sum
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total
0       65     45           1      False    318
1       80     60           1      False    405
2      100     80           1      False    525
3      120     80           1      False    625
4       50     65           1      False    309

In [39]:
cols = list(df.columns.values)
df = df[cols[0:4] + [cols [-1]] + cols[4:12]]       # Rearrging columns, so that total colummn is in the middle. Be careful when hard coding with numbers
print(df.head())

   #                   Name Type 1  Type 2  Legendary  Total  Total  Total  \
0  1              Bulbasaur  Grass  Poison      False    318    318    318
1  2                Ivysaur  Grass  Poison      False    405    405    405
2  3               Venusaur  Grass  Poison      False    525    525    525
3  3  VenusaurMega Venusaur  Grass  Poison      False    625    625    625
4  4             Charmander   Fire     NaN      False    309    309    309

   Total  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0    318      49       49       65       65     45           1
1    405      62       63       80       80     60           1
2    525      82       83      100      100     80           1
3    625     100      123      122      120     80           1
4    309      52       43       60       50     65           1

## Saving our Data (Exporting into Desired format)

In [42]:
df.to_csv('modified.csv', index=False)      # To avoid saving the index

In [45]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == "Poison")]      # Filtering data by several conditions, use the & sign instead of and

,#,Name,Type 1,Type 2,Legendary,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,318,318,318,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,405,405,405,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,525,525,525,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,625,625,625,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,320,320,320,320,50,55,75,65,30,1
49,44,Gloom,Grass,Poison,False,395,395,395,395,65,70,85,75,40,1
50,45,Vileplume,Grass,Poison,False,490,490,490,490,80,85,110,90,50,1
75,69,Bellsprout,Grass,Poison,False,300,300,300,300,75,35,70,30,40,1
76,70,Weepinbell,Grass,Poison,False,390,390,390,390,90,50,85,45,55,1
77,71,Victreebel,Grass,Poison,False,490,490,490,490,105,65,100,70,70,1
344,315,Roselia,Grass,Poison,False,400,400,400,400,60,45,100,80,65,3
451,406,Budew,Grass,Poison,False,280,280,280,280,30,35,50,70,55,4
452,407,Roserade,Grass,Poison,False,515,515,515,515,70,65,125,105,90,4
651,590,Foongus,Grass,Poison,False,294,294,294,294,55,45,55,55,15,5
652,591,Amoonguss,Grass,Poison,False,464,464,464,464,85,70,85,80,30,5

In [2]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == "Poison") & (df['HP'] > 70)]

NameError: name 'df' is not defined